
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

###> project ###
.phpcs-cache
bin/*
!bin/console
!bin/phpunit
!bin/simple-phpunit
public/matomo
public/dracula-prism/
public/startbootstrap-freelancer/
###< project ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###
