:root {
    --color-dark-blue: #34344A;
    --color-pink: #FF5693;
    --color-green: #00FFC5;
    --color-blue: #429BB2;
    --color-gray: #F8EDEB;
    --color-dark: #000;
    --color-light: #FFF;
}

body {
    background-color: var(--color-dark);
}

label.required {
    margin-top: 20px;
    color: var(--color-dark-blue) !important;
}

.control-group ul {
    margin-top: 10px;
    margin-bottom: 0px;
    padding-left: 0px;
    font-size: 1.1rem;
    list-style-type: none;
    color: var(--color-pink);
}

#my-strengths h2 {
    font-size: 2.5rem;
    line-height: 3rem;
}

#portfolio h3 {
    font-size: 2rem;
}

#mainNav {
    background-color: var(--color-dark-blue) !important;
}

#mainNav.transparent-top {
    background-color: transparent !important;
}
@media (max-width: 767px) {
    #mainNav.transparent-top {
        background-color: var(--color-dark-blue) !important;
    }
}

#mainNav.navbar-shrink {
    background-color: var(--color-dark-blue) !important;
}

.text-dark, .text-dark i {
    color: var(--color-dark) !important;
}

.text-dark .divider-custom-line {
    background-color: var(--color-dark);
    border-color: var(--color-dark);
}

.text-light, .text-light i {
    color: var(--color-light) !important;
}

.background-light {
    background-color: var(--color-light);
}

.text-light .divider-custom-line {
    background-color: var(--color-light);
    border-color: var(--color-light);
}

.text-pink, i.text-pink {
    color: var(--color-pink) !important;
}

.background-pink {
    background-color: var(--color-pink);
}

.text-dark-blue {
    color: var(--color-dark-blue);
}

.background-dark-blue {
    background-color: var(--color-dark-blue);
}

.text-green {
    color: var(--color-green);
}

.background-green {
    background-color: var(--color-green);
}

.text-blue {
    color: var(--color-blue);
}

.background-blue {
    background-color: var(--color-blue);
}

.text-gray {
    color: var(--color-gray);
}

.background-gray {
    background-color: var(--color-gray);
}

header {
    background: url(../img/conf_bg.jpg);
    background-color: var(--color-dark-blue);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;
    padding-top: calc(8rem + 104px);
    padding-bottom: 8rem;
}

.big-icon {
    font-size: 5rem;
}

.features {
    text-align: center;
}

.nav-link {
    font-size: 0.9rem;
}

.portfolio-title {
    /*background: linear-gradient(transparent, var(--color-pink));*/
    background: rgba(0, 0, 0, 0.6);
    color: var(--color-light) !important;
    position: absolute;
    bottom: 0;
    left: 0px;
    right: 0px;
    text-align: center;
    margin: 0;
    padding: 10px;
    font-size: 1.1rem;
}

.portfolio-title i {
    color: var(--color-light) !important;
}

.modal-body {
    padding: 2rem 1rem;
}

.portfolio-item {
    -webkit-box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.portfolio .portfolio-item .portfolio-item-caption {
    background-color: rgba(0,0,0,.7) !important;
}
.portfolio .portfolio-item .portfolio-item-caption i {
    color: var(--color-pink) !important;
}
.portfolio-modal .portfolio-modal-title {
    line-height: 1.1em;
}

footer .btn-outline-light:hover i {
    color: var(--color-pink) !important;
}

.btn-outline-light:hover i {
    color: var(--color-dark-blue) !important;
}

.table-responsive td {
    width: 2000px;
}

.blog-detail h2
{
    margin-top: 50px;
    margin-bottom: 20px;
}

.blog-detail p, .blog-detail ul li {
    font-size: 1.2rem;
}

.blog-detail p {
    text-align: justify;
    margin-bottom: 20px;
}

.blog-detail center p {
    text-align: center;
}

.blog-detail pre {
    font-size: 1.0rem;
}

.blog-detail .code-toolbar {
    margin-bottom: 20px;
}

.blog-detail img {
    display: block;
    text-align: center !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    max-width: 100%;
}

pre::-webkit-scrollbar-thumb {
    background-color: #97a3c9 !important;
    border-radius: 0px;
  }

:not(pre)>code {
    padding: 2px 5px;
    border-radius: 3px;
    background: #ffe5ee;
    color: var(--color-dark);
    margin-left: 5px;
    margin-right: 5px;
}

.blog-time {
    font-size: 2rem;
    color: var(--color-pink);
    font-family: Montserrat,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}