{% embed 'portfolio/portfolio_item.html.twig' with {
    'modal_id': 'alice_et_bob',
    'title': 'Alice & Bob',
    'icon_class': 'fas fa-anchor',
    'image_path': 'alice_et_bob_slide.jpg'
} %}
    {% block modal_content %}
        <div class="col-lg-6">
            <h2 id="portfolioModal_{{ modal_id }}_Label" class="portfolio-modal-title text-secondary text-uppercase mb-0">{{ title }}</h2>

            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="{{ icon_class }}"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>

            <p>
                <strong>Alice et Bob sont sur un bateau</strong> (Alice and Bob are on a boat) is a conference I gave for the <a target="_blank" href="https://event.afup.org/afup-day-2019/afup-day-2019-lyon/">AFUP Day 2019</a> in Lyon.
            </p>
            <p>
                The focus of the talk is the making of a good Dataset in order to improve the data quality in a project. I'm using an example (based on "The Love Boat") to help understanding how to think about data fixtures and how to implement them in a PHP project with <a target="_blank" href="https://github.com/nelmio/alice">Alice</a>.
            </p>
            <p class="mb-5">
                <a href="https://fr.slideshare.net/GabrielPillet/alice-et-bob-sont-sur-un-bateau" target="_blank">You can view the slides (in French)
                on SlideShare!</a>
            </p>
        </div>
        <div class="col-lg-6">
            <img  alt="Example of a fixtures file with Alice and Faker" class="lazy img-fluid rounded mb-4" src="" data-src="img/portfolio/alice_et_bob_fixtures.jpg">

            <button class="btn btn-primary" data-dismiss="modal">
                <i class="fas fa-times fa-fw"></i>
                Close
            </button>
        </div>
    {% endblock %}
{% endembed %}