{% embed 'portfolio/portfolio_item.html.twig' with {
    'modal_id': 'betaseries_insights',
    'title': 'BetaSeries Insights',
    'icon_class': 'fas fa-chart-line',
    'image_path': 'betaseries_insights.jpg'
} %}
    {% block modal_content %}
        <div class="col-lg-6">
            <h2 id="portfolioModal_{{ modal_id }}_Label" class="portfolio-modal-title text-secondary text-uppercase mb-0">{{ title }}</h2>

            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="{{ icon_class }}"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>

            <p>
                <a target="_blank" href="https://insights.betaseries.com/">BetaSeries Insights</a> is one of my proudest achievments. The goal of the website is to provide data analysis of the consumption of TV series to media profesionals.
            </p>
            <p>
                With over a million members and 200'000 episodes watched per day, it was a real challenge to find the right solution to be able to make real time analytics (statistics on a specific show, audience, trendings…). We decided to use Neo4j, a graph database that fits the deep relational model of BetaSeries.
            </p>
            <p class="mb-5">
                BetaSeries Insights is a solo project, I've done everything from the data exports/imports to the frontend of the B2B website.
            </p>

            <table class="table table-responsive mb-4">
                <tbody>
                    <tr>
                        <th scope="row">URL</th>
                        <td><a href="https://insights.betaseries.com" target="_blank">https://insights.betaseries.com</a></td>
                    </tr>
                    <tr>
                        <th scope="row">During</th>
                        <td>2017 / 2018</td>
                    </tr>
                    <tr>
                        <th scope="row">Role</th>
                        <td>Backend Developer, DBA, Product Owner</td>
                    </tr>
                    <tr>
                        <th scope="row">Language</th>
                        <td>PHP7, SQL, Neo4j</td>
                    </tr>
                    <tr>
                        <th scope="row">Frameworks</th>
                        <td>Symfony 4</td>
                    </tr>
                    <tr>
                        <th scope="row">Third Parties</th>
                        <td>Behat, phpspec, redis, Codeship, Vagrant, ansible</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-6">
            <img  alt="Neo4j nodes and relations" class="lazy img-fluid rounded mb-4" src="" data-src="img/portfolio/insights_nodes.jpg">
            <img  alt="BetaSeries Insights page screenshot" class="lazy img-fluid rounded mb-4" src="" data-src="img/portfolio/insights_full.jpg">

            <button class="btn btn-primary" data-dismiss="modal">
                <i class="fas fa-times fa-fw"></i>
                Close
            </button>
        </div>
    {% endblock %}
{% endembed %}