{% embed 'portfolio/portfolio_item.html.twig' with {
    'modal_id': 'betaseries',
    'title': 'BetaSeries',
    'icon_class': 'fas fa-couch',
    'image_path': 'betaseries.jpg'
} %}
    {% block modal_content %}
        <div class="col-lg-6">
            <h2 id="portfolioModal_{{ modal_id }}_Label" class="portfolio-modal-title text-secondary text-uppercase mb-0">{{ title }}</h2>

            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="{{ icon_class }}"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>

            <p>
                <i class="fas fa-quote-left mr-2"></i>
                <i>For 10 years of existence, BetaSeries has become your best ally for TV shows: manage your calendar, share your latest episodes watched and discover new shows – within a one million member community.</i>
            </p>
            <p>
                I've worked for three years as a Lead Backend Developer at <a target="_blank" href="https://netcats.com/">Netcats</a> on various projects, including <a target="_blank" href="https://www.betaseries.com/">BetaSeries</a>. My job was to lead a junior team (Backend, Frontend and Mobile), to improve the project management processes (agility, continuous integration, review apps) and also to code on the project.
            </p>
            <p class="mb-5">
                BetaSeries is a 10 years old legacy PHP project (no framework) and I was in charge of architecturing a new version using Symfony that coexists with the legacy code base, to improve the REST API, to make several performance optimizations and to add integration tests.
            </p>

            <table class="table table-responsive mb-4">
                <tbody>
                    <tr>
                        <th scope="row">URL</th>
                        <td><a href="https://betaseries.com" target="_blank">https://betaseries.com</a></td>
                    </tr>
                    <tr>
                        <th scope="row">During</th>
                        <td>2016 / 2018</td>
                    </tr>
                    <tr>
                        <th scope="row">Role</th>
                        <td>Backend Developer, Project Manager</td>
                    </tr>
                    <tr>
                        <th scope="row">Language</th>
                        <td>PHP7, SQL</td>
                    </tr>
                    <tr>
                        <th scope="row">Frameworks</th>
                        <td>Legacy, Symfony 3</td>
                    </tr>
                    <tr>
                        <th scope="row">Third Parties</th>
                        <td>Behat, phpspec, redis, MySQL, Sentry, Mailjet, Thumbor, Codeship, Vagrant, ansible</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-6">
            <img alt="BetaSeries mobile app screenshots" class="img-fluid rounded mb-3" src="img/portfolio/betaseries_mobile.jpg">
            <img alt="BetaSeries feed page" class="img-fluid rounded mb-4" src="img/portfolio/betaseries_feed.jpg">

            <button class="btn btn-primary" data-dismiss="modal">
                <i class="fas fa-times fa-fw"></i>
                Close
            </button>
        </div>
    {% endblock %}
{% endembed %}