{% embed 'portfolio/portfolio_item.html.twig' with {
    'modal_id': 'hr_saas',
    'modal_class': 'modal-lg',
    'title': 'SAAS for Temporary Workers',
    'icon_class': 'fas fa-hard-hat',
    'image_path': 'hr_saas.jpg'
} %}
    {% block modal_content %}
        <div class="col-lg-12">
            <h2 id="portfolioModal_{{ modal_id }}_Label" class="portfolio-modal-title text-secondary text-uppercase mb-0">{{ title }}</h2>

            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="{{ icon_class }}"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>
            <p>
                This confidential project was for a temporary workers agency, the goal of the application is to handle real time contract creation and to monitor the workers availabilities.
            </p>
            <p class="mb-5">
                My role was to improve the architecture of the project (legacy code on the Laravel framework), to optimize performances and to add new features to the website.
            </p>

            <table class="table table-responsive mb-4">
                <tbody>
                    <tr>
                        <th scope="row">During</th>
                        <td>2019, three months contract</td>
                    </tr>
                    <tr>
                        <th scope="row">Role</th>
                        <td>Backend Developer</td>
                    </tr>
                    <tr>
                        <th scope="row">Language</th>
                        <td>PHP7, SQL</td>
                    </tr>
                    <tr>
                        <th scope="row">Frameworks</th>
                        <td>Laravel</td>
                    </tr>
                    <tr>
                        <th scope="row">Third Parties</th>
                        <td>Behat, phpspec, MySQL, blackfire, gitlab-ci</td>
                    </tr>
                </tbody>
            </table>

            <button class="btn btn-primary" data-dismiss="modal">
                <i class="fas fa-times fa-fw"></i>
                Close
            </button>
        </div>
    {% endblock %}
{% endembed %}
