{% embed 'portfolio/portfolio_item.html.twig' with {
    'modal_id': 'jevendsdestrucs',
    'title': 'jevendsdestrucs',
    'icon_class': 'fas fa-hand-holding-usd',
    'modal_class': 'modal-lg',
    'image_path': 'jevendsdestrucs.jpg'
} %}
    {% block modal_content %}
        <div class="col-lg-12">
            <h2 id="portfolioModal_{{ modal_id }}_Label" class="portfolio-modal-title text-secondary text-uppercase mb-0">{{ title }}</h2>

            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="{{ icon_class }}"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>

            <p>
                <strong>jevendsdestrucs</strong> (Imsellingstuff) is a little helper I made to automatically publish offers on multiple websites (Leboncoin and Audiofanzine at first, but more providers could be added).
            </p>
            <p class="mb-5">
                The offers are written in yaml and a crawler logs in to the providers and fills the form to add the offer.
            </p>

            <table class="table table-responsive mb-4">
                <tbody>
                    <tr>
                        <th scope="row">Github URL</th>
                        <td><a href="https://github.com/tentacode/jevendsdestrucs" target="_blank">https://github.com/tentacode/jevendsdestrucs</a></td>
                    </tr>
                    <tr>
                        <th scope="row">Framework</th>
                        <td>Symfony</td>
                    </tr>
                    <tr>
                        <th scope="row">Language</th>
                        <td>PHP 7</td>
                    </tr>
                    <tr>
                        <th scope="row">Third party</th>
                        <td>Silly, php-di, Symfony Components and Mink</td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-primary" data-dismiss="modal">
                <i class="fas fa-times fa-fw"></i>
                Close
            </button>
        </div>
    {% endblock %}
{% endembed %}
