{% embed 'portfolio/portfolio_item.html.twig' with {
    'modal_id': 'metabase',
    'title': 'Metabase with kittens',
    'icon_class': 'fas fa-cat',
    'image_path': 'metabase_kittens_title.jpg'
} %}
    {% block modal_content %}
        <div class="col-lg-6">
            <h2 id="portfolioModal_{{ modal_id }}_Label" class="portfolio-modal-title text-secondary text-uppercase mb-0">{{ title }}</h2>

            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="{{ icon_class }}"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>

            <p>
                <a href="https://metabase.com" target="_blank">Metabase</a> is "<i>the easy, open source way for everyone in your company to ask questions and learn from data</i>". It's a dashboard that can connect to various data sources and provide nice charts for your company's metrics. We used it at <a href="https://netcats.com/">Netcats</a> and I gave a talk for a <a href="http://www.lyondata.science/" target="_blank">Lyon Data Science</a> meetup with a made up use case (facebook, but for kittens).
            </p>
            <p class="mb-5">
                <a href="https://fr.slideshare.net/GabrielPillet/metabase-avec-des-chatons" target="_blank">You can view the slides (in French)
                on SlideShare!</a>
            </p>
        </div>
        <div class="col-lg-6">
            <img  alt="Metabase dashboard" class="lazy img-fluid rounded mb-4" src="" data-src="img/portfolio/metabase_kittens_diwi.jpg">

            <button class="btn btn-primary" data-dismiss="modal">
                <i class="fas fa-times fa-fw"></i>
                Close
            </button>
        </div>
    {% endblock %}
{% endembed %}