{% embed 'portfolio/portfolio_item.html.twig' with {
    'modal_id': 'phat_fishes_game',
    'title': 'Phat Fishes',
    'icon_class': 'fas fa-gamepad',
    'image_path': 'phat_fishes_game.jpg'
} %}
    {% block modal_content %}
        <div class="col-lg-6">
            <h2 id="portfolioModal_{{ modal_id }}_Label" class="portfolio-modal-title text-secondary text-uppercase mb-0">{{ title }}</h2>

            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="{{ icon_class }}"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>

            <p>
                <strong>Phat Fishes</strong>
                is the anagram of
                <strong>Shapeshift</strong>
                which is the theme of the 35th edition of the
                <a href="https://ldjam.com/" target="_blank">Ludum Dare</a>.
                The Ludum Dare is a Game Jam: a special event where you have to code a game from scratch in a time limit and under
                specific conditions.
            </p>
            <p>
                I've participated in several game jams
                but Phat Fishes is my proudest achievement
                because I made the game all by myself in under 72 hours! That means code, graphics, UI, FX and music too!
            </p>
            <p>
                It is just a silly arena game where up to 4 players compete to be latest fish alive, the fish is a
                <a href="https://fr.wikipedia.org/wiki/Tetraodontidae" target="_blank">Tetraodontidae</a>
                that can inflate to push other fishes into the ocean's hazards.
            </p>
            <p class="mb-5">
                You can play it online directly in you browser on the
                <a href="https://tentacode.itch.io/phat-fishes" target="_blank">itch.io page</a>!
            </p>

            <table class="table table-responsive mb-4">
                <tbody>
                    <tr>
                        <th scope="row">Play URL</th>
                        <td><a href="https://tentacode.itch.io/phat-fishes" target="_blank">Play it on itch.io</a></td>
                    </tr>
                    <tr>
                        <th scope="row">Github URL</th>
                        <td><a href="https://github.com/tentacode/PhatFishes" target="_blank">https://github.com/tentacode/PhatFishes</a></td>
                    </tr>
                    <tr>
                        <th scope="row">Made in</th>
                        <td>summer 2016 in 72 hours</td>
                    </tr>
                    <tr>
                        <th scope="row">Framework</th>
                        <td>Unity3D</td>
                    </tr>
                    <tr>
                        <th scope="row">Language</th>
                        <td>C#</td>
                    </tr>
                    <tr>
                        <th scope="row">Softwares</th>
                        <td>Aseprite, GarageBand</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-6">
            <img  alt="Phat Fishes title screen" class="lazy img-fluid rounded mb-4" src="" data-src="img/portfolio/phat_fishes.jpg">
            <img  alt="Phat Fishes rematch screen" class="lazy img-fluid rounded mb-4" src="" data-src="img/portfolio/phat_fishes_lol.jpg">

            <button class="btn btn-primary" data-dismiss="modal">
                <i class="fas fa-times fa-fw"></i>
                Close
            </button>
        </div>
    {% endblock %}
{% endembed %}
