{% embed 'portfolio/portfolio_item.html.twig' with {
    'modal_id': 's_plus_g',
    'title': 'S + G',
    'icon_class': 'fas fa-baby-carriage',
    'image_path': 's_plus_g.jpg'
} %}
    {% block modal_content %}
        <div class="col-lg-6">
            <h2 id="portfolioModal_{{ modal_id }}_Label" class="portfolio-modal-title text-secondary text-uppercase mb-0">{{ title }}</h2>

            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="{{ icon_class }}"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>

            <p>
                Probably the most <strong>crazy and time consuming</strong>
                idea I had is to make an augmented reality birth announcement card.
            </p>
            <p class="mb-5">
                I made it with Unity3D and the vuforia plugin, each 4 parts of the card turns into a little 3D scene when you hover it with your phone with the mobile app (Android and iPhone).
            </p>

            <table class="table table-responsive mb-4">
                <tbody>
                    <tr>
                        <th scope="row">Made in</th>
                        <td>summer 2018</td>
                    </tr>
                    <tr>
                        <th scope="row">Framework</th>
                        <td>Unity3D</td>
                    </tr>
                    <tr>
                        <th scope="row">Language</th>
                        <td>C#</td>
                    </tr>
                    <tr>
                        <th scope="row">Softwares</th>
                        <td>Vuforia plugin, Aseprite, Photoshop</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-6">
            <img loading="lazy" alt="Augmented reality birth announcement card" class="img-fluid rounded mb-4" src="img/portfolio/s_plus_g_app.jpg">

            <button class="btn btn-primary" data-dismiss="modal">
                <i class="fas fa-times fa-fw"></i>
                Close
            </button>
        </div>
    {% endblock %}
{% endembed %}
