<footer class="footer text-center background-dark-blue text-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-0 mb-lg-0 mx-auto">
                <img alt="Picture of Gabriel Pillet" style="width: 100px"  class="shadow rounded-circle mb-3"
                    src="{{ asset('img/gabriel_pillet.jpg') }}"
                    srcset="{{ asset('img/gabriel_pillet_2x.jpg') }} 2x"
                >
                <h4 class="text-uppercase mb-3">Author</h4>
                <p class="lead mb-4">
                    Hello! I'm Gabriel Pillet (<a href="https://twitter.com/tentacode">@tentacode</a>)
                    and I work for <a href="https://yousign.com">Yousign</a> as their Lead QA.</a>
                </p>
                <a class="btn btn-outline-light btn-social mx-1" href="https://github.com/tentacode">
                    <i class="fab fa-fw fa-github"></i>
                </a>
                <a class="btn btn-outline-light btn-social mx-1" href="https://twitter.com/tentacode">
                    <i class="fab fa-fw fa-twitter"></i>
                </a>
                <a class="btn btn-outline-light btn-social mx-1" href="https://www.linkedin.com/in/gabrielpillet/">
                    <i class="fab fa-fw fa-linkedin-in"></i>
                </a>
                <a class="btn btn-outline-light btn-social mx-1" href="https://keybase.io/tentacode">
                    <i class="fab fa-fw fa-keybase"></i>
                </a>
            </div>
        </div>
    </div>
</footer>

<div class="copyright py-4 text-center text-white">
    <div class="container">
        <small>Copyright &copy; Gabriel Pillet
            {{ 'now'|date('Y') }} — <a href="https://github.com/tentacode/tentacode.dev">fork me on github</a>
        </small>
    </div>
</div>

<div class="scroll-to-top d-lg-none position-fixed ">
    <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>