{% extends 'blog/base_blog.html.twig' %}

{% block title %}tentacode.dev — Technical Blog{% endblock %}
{% block og_title %}tentacode.dev — Technical Blog{% endblock %}

{% block body %}
<section class="page-section blog text-dark background-light mt-5 mb-0 pb-5" id="blog">
    <div class="container">
        <h1 class="page-section-heading text-center text-uppercase mt-5 mb-0">
            tentacode<span class="text-pink">.dev</span> blog
        </h1>

        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fas fa-feather-alt"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>

        <div class="row mt-5">
            {% for post in posts %}
                <div class="col-lg-8 mx-auto mb-4">
                    <h4>
                        <a href="{{ path('blog_detail', {
                            'slug': post.slug
                        }) }}">{{ post.content.title }}</a>
                        <small class="text-pink">— {{ post.date|date('d/m/Y') }}</small>
                    </h4>
                    <p class="lead">
                        {{ post.content.excerpt(200) }}
                    </p> 
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
