<footer class="footer text-center background-dark-blue text-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Location</h4>
                <p class="lead mb-0">
                    Gabriel Pillet<br/>
                    Villeurbanne, 69100 (France)<br/>
                    I work <strong>full remote</strong> and love it!
                </p>
            </div>

            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Around the Web</h4>
                <a class="btn btn-outline-light btn-social mx-1" href="https://github.com/tentacode">
                    <i class="fab fa-fw fa-github"></i>
                </a>
                <a class="btn btn-outline-light btn-social mx-1" href="https://twitter.com/tentacode">
                    <i class="fab fa-fw fa-twitter"></i>
                </a>
                <a class="btn btn-outline-light btn-social mx-1" href="https://www.linkedin.com/in/gabrielpillet/">
                    <i class="fab fa-fw fa-linkedin-in"></i>
                </a>
                <a class="btn btn-outline-light btn-social mx-1" href="https://keybase.io/tentacode">
                    <i class="fab fa-fw fa-keybase"></i>
                </a>
            </div>

            <div class="col-lg-4">
                <h4 class="text-uppercase mb-4">If you read this</h4>
                <p class="lead mb-0">
                    Congratulations!
                    You read my website till the end and you win
                    a free cup of coffee/tea when we meet in person! <i class="fas fa-mug-hot"></i>
                </p>
            </div>

        </div>
    </div>
</footer>

<div class="copyright py-4 text-center text-white">
    <div class="container">
        <small>
            Photos copyright &copy; Benjamin Lévêque - 
            Copyright &copy; Gabriel Pillet
            {{ 'now'|date('Y') }} — <a href="https://github.com/tentacode/tentacode.dev">fork me on github</a>
        </small>
    </div>
</div>

<div class="scroll-to-top d-lg-none position-fixed ">
    <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>
