<header class="masthead text-light text-center shadow">
    <div class="container d-flex align-items-center flex-column">
        <h1 class="masthead-heading text-uppercase mb-0">Bonjour!</h1>

        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fas fa-handshake"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>

        <p class="masthead-subheading font-weight-light">
            I'm Gabriel Pillet and I work for
            <a href="https://yousign.com">Yousign</a> as their QA Lead.
        </p>

        <div class="text-center mt-5">
            <a class="btn btn-xl btn-outline-light shadow-sm" href="https://github.com/tentacode">
                <i class="fab fa-github mr-2"></i>
                Have a look at my GitHub profile!
            </a>
        </div>
    </div>
</header>
