<section class="page-section portfolio text-dark background-light mb-0 pb-0" id="portfolio">
    <div class="container">

        <h2 class="page-section-heading text-center text-uppercase mb-0">Portfolio</h2>

        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fas fa-flask"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>

        <h3 class="mb-4 text-center text-dark-blue">Professional Projects</h3>
        <div class="row">
            {% include 'portfolio/_betaseries_insights.html.twig' %}
            {% include 'portfolio/_medical_imaging.html.twig' %}
            {% include 'portfolio/_hr_saas.html.twig' %}
            {% include 'portfolio/_betaseries.html.twig' %}
            {% include 'portfolio/_diwi.html.twig' %}
            {% include 'portfolio/_ynov.html.twig' %}
        </div>

        <h3 class="mt-3 mb-4 text-center  text-dark-blue">Conferences and talks</h3>
        <div class="row">
            {% include 'portfolio/_alice_et_bob.html.twig' %}
            {% include 'portfolio/_neo4j_import.html.twig' %}
            {% include 'portfolio/_neo4j_15min.html.twig' %}
            {% include 'portfolio/_pdd.html.twig' %}
            {% include 'portfolio/_metabase_kittens.html.twig' %}
        </div>

        <h3 class="mt-3 mb-4 text-center  text-dark-blue">Hobby code</h3>
        <div class="row">
            {% include 'portfolio/_phat_fishes.html.twig' %}
            {% include 'portfolio/_s_plus_g.html.twig' %}
            {% include 'portfolio/_jevendsdestrucs.html.twig' %}
        </div>
    </div>
</section>
