{% if app.session.flashbag.has('success_message_sender_name') is not empty %}
    <div id="success_messages" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <h3>Thank you {{ app.flashes('success_message_sender_name')|first }}!</h3>
                    <div class="big-icon"><i class="fas fa-envelope-open-text text-pink"></i></div>
                    <p class="lead">
                        Your message has been sent and I will get back at you very shortly! While you wait why don't you play a little game of <a target="_blank" href="https://tentacode.itch.io/phat-fishes">Phat Fishes</a> with your friends?
                    </p>
                    
                    <button type="button" class="btn btn-xl btn-primary mt-4 mx-auto" data-dismiss="modal">Nice.</button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $('#success_messages').modal();
    </script>
{% endif %}