<section class="page-section background-gray text-dark mb-0" id="the-dream-job">
    <div class="container">
        <h2 class="page-section-heading text-center text-uppercase">THE Dream Job</h2>

        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fas fa-gem"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>

        <div class="row">
            <div class="col-lg-4 ml-auto">
                <p class="lead">In my opinion the project of the company is the most important matter: it should be something that is meaningful and aiming to make the world a better place (even just a little bit!). I probably won't work for you if you manufacture weapons of mass destruction, just saying.</p>
            </div>
            <div class="col-lg-4">
                <p class="lead">Technical challenge is also something that drives me. Whether it is a complex business related code or getting the most out of elaborate data metrics: this is where I feel most at ease. Quality is essential to me, and every means (tools, good practices and processes) should be employed to achieve the best quality available.</p>
            </div>
            <div class="col-lg-4 mr-auto">
                <p class="lead">The dream company should, of course, care about their people's well beings, providing a healthy and positive culture in which everyone can flourish. I know sometimes it's easier said than done but I would be happy to help you achieve this goal!</p>
            </div>
        </div>
    </div>
</section>
